<div id="micro-compra" style="display: none;" class="fade">
    <!-- Modal content-->
    <div class="content">
        <div class="header">
            <button type="button" class="close">&times;</button>    
        </div>

        <header class="navCus">
            <div class="navbar-fixed divNavCus">
                <img class="brand-logo left logoBBVAimg" src="assets/logo-bbva-seguros-blanco.png">
            </div>
        </header>

        <img id="bannerNiceto" class="imgBanner" src="assets/banner_1960x350.jpg">

        <div class="row custom-row">
            <div class="col-sm custom-container jumbotron" style="margin-bottom: 0px; padding-top: 32px;">
                <div class="row">
                    <h1 class="coberturaTitulo">Productos disponibles</h1>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Hogar</h5>
                                <p class="card-text">Seguro para Hogares</p>                        
                                <a href="#" class="btn waves-effect waves-light coberturaBoton2">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Notebook</h5>
                                <p class="card-text">Seguro para Notebooks</p>
                                <a href="#" class="btn waves-effect waves-light coberturaBoton">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Tecnologia Portatil</h5>
                                <p class="card-text">Seguro para Tecnologia Portatil</p>
                                <a href="#" class="btn waves-effect waves-light coberturaBoton2">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Accidentes Personales</h5>
                                <p class="card-text">Seguro para Accidentes Personales</p>
                                <a href="#" class="btn waves-effect waves-light coberturaBoton">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer footerCus" style="padding-top: 0px;">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="col l3 m6 s12 right-align">
                            <img class="brand-logo left logoFooterBBVAimg" src="assets/Logo_BBVA_Seguros.png">
                        </div>
                        <div class="col l9 m6 s12 left-align">
                            <p class="footerTexto">Superintendencia de Seguros de la Naci&oacute;n. www.ssn.gob.ar
                                0-800-666-8400<br>N de inscripci&oacute;n SSN: 0396. Aseguradora: BBVA Consolidar Seguros
                                S.A - CUIT 30-50006423-0 - Av. Leandro N. Alem 728/732 (C1001AAP) - C.A.B.A.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>