<div class="container-fluid">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-10">
            <h3>Productos</h3>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="crearProducto()">Crear Producto</button>
        </div>
    </div>
    <table *ngIf="productos !== undefined && productos.length > 0 " class="table">
        <thead class="thead-light">
            <tr>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Imagen</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Producto</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Stock</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Precio</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Habilitado</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of this.productos">
                <td> 
                    <img *ngIf="producto.imagen" style="width: 80px; height: 100px;" [src]="'/assets/img/' + producto.imagen" alt="producto.descProducto">
                    <img *ngIf="!producto.imagen" style="width: 130px; height: 100px;" [src]="'/assets/img/noimage.jpg'" alt="No image">
                </td>
                <td>{{ producto.descProducto | titlecase }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <button *ngIf="producto.habilitado" style="width: 120px;" (click)="cambiarEstadoProducto(producto)" type="button"
                        class="btn btn-success">Habilitado</button>
                    <button *ngIf="!producto.habilitado" style="width: 120px;" (click)="cambiarEstadoProducto(producto)" type="button"
                        class="btn btn-danger">Deshabilitado</button>
                </td>
                <td>
                    <span style="cursor: pointer;" (click)="modificarProducto(producto)"><i class="fas fa-pen"></i></span>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="margin-top: 20px;" *ngIf="productos === undefined || productos.length === 0">No existen productos cargados.</h3>
</div>