<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left"></div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="header__top__right__auth">
                            <button *ngIf="!isLogged"  routerLink="/login"> Iniciar sesi&oacute;n</button>
                        </div>
                        <div class="header__top__right__auth">
                            <button *ngIf="!isLogged"  routerLink="/register" style="margin-left: 10px;">Registrarse</button>
                        </div>
                        <div class="header__top__right__auth">
                            <button *ngIf="isLogged" (click)="cerrarSesion()" routerLink="/login">Cerrar sesi&oacute;n</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="#"><img src="assets/img/logo.png" alt=""/></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a routerLink="/">Inicio</a></li>
                        <li><a href="/categorias">Tienda</a></li>
                        <li><a routerLink="/contacto">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
