<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo"><a href="#"><img src="assets/img/logo.png" alt=""></a></div>
                    <ul>
                        <li>Dirección: Avenida Corrientes 3470, CABA, Buenos Aires, Argentina</li>
                        <li>Teléfono: +54 11-2346-2346</li>
                        <li>Email: contacto@superbuy.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Links útiles</h6>
                    <ul>
                        <li><a href="#">Tienda</a></li>
                        <li><a href="#">Consultas</a></li>
                        <li><a href="#">Nuestro contacto</a></li>
                        <li><a href="#">Mapa del sitio</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">¿Quiénes somos?</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Únete para recibir el boletín de noticias</h6>
                    <p>Obten las últimas noticias y ofertas del mes.</p>
                    <form action="#"><input type="text" placeholder="Ingrese su email"><button type="submit"
                            class="site-btn">Subscrirse</button></form>
                    <div class="footer__widget__social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                </div>
            </div>
        </div>
        <div id="root"></div>
    </div>
</footer>