<footer className="footer spad">
  <div className="container">
      <div className="row">
          <div className="col-lg-3 col-md-6 col-sm-6">
              <div className="footer__about">
                  <div className="footer__about__logo">
                      <a href="#"><img src="/assets/img/logo.png" alt=""/></a>
                  </div>
                  <ul>
                      <li>Direcci&oacute;n: Avenida Corrientes 3470, CABA, Buenos Aires, Argentina</li>
                      <li>Tel&eacute;fono: +54 11-2346-2346</li>
                      <li>Email: contacto@superbuy.com</li>
                  </ul>
              </div>
          </div>
          <div className="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
              <div className="footer__widget">
                  <h6>Links &uacute;tiles</h6>
                  <ul>
                      <li><a href="#">Tienda</a></li>
                      <li><a href="#">Consultas</a></li>
                      <li><a href="#">Nuestro contacto</a></li>
                  </ul>
                  <ul>
                      <li><a href="#">¿Qui&eacute;nes somos?</a></li>
                  </ul>
              </div>
          </div>
          <div className="col-lg-4 col-md-12">
              <div className="footer__widget">
              <h6>Únete para recibir el bolet&eacute;n de noticias</h6>
              <p>Obten las últimas noticias y ofertas del mes.</p>
              <form action="#">
                  <input type="text" placeholder="Ingrese su email"/>
                  <button type="submit" class="site-btn">Subscribirse</button>
                  </form>
                  <div className="footer__widget__social">
                      <a href="#"><i className="fa fa-facebook"></i></a>
                      <a href="#"><i className="fa fa-instagram"></i></a>
                      <a href="#"><i className="fa fa-twitter"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>