<section class="product spad">
    <div class="container">
        <div style="width: 100%; height: 100%;">
            <h3 style="margin-left: 43%;">Proveedores</h3>
            <table *ngIf="proveedores !== undefined && proveedores.length > 0 ">
                <tr *ngFor="let proveedor of proveedores" class="row">
                    <td (click)="irAProductos(proveedor.idUsuario)">{{ proveedor.nombre }}</td>
                </tr>
            </table>
            <h3 style="margin-top: 20px;" *ngIf="proveedores === undefined || proveedores.length === 0">No existen proveedores activos actualmente.</h3>
        </div>
    </div>
</section>