<div id="micro-compra-separados" style="display: none;">

    <header class="navCus">
        <div class="navbar-fixed divNavCus">
            <img class="brand-logo left logoBBVAimg" src="assets/logo-bbva-seguros-blanco.png">
            <img class="brand-logo right logoNicetoimg" src="assets/LOGO-NICETO-blanco.png">
        </div>
    </header>

    <img id="bannerNiceto" class="imgBanner" src="assets/banner_1960x350.jpg">

    <div class="row custom-row">
        <div class="col-sm custom-container jumbotron" style="margin-bottom: 0px; padding-top: 32px;">
            <br>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Producto 1</h5>
                            <p class="card-text">Seguro para Departamentos</p>    
                            <p class="planMonto">$1121.33/mes</p>                    
                            <a href="#" class="btn waves-effect waves-light coberturaBoton2">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Producto 2</h5>
                            <p class="card-text">Seguro para Casas</p>
                            <p class="planMonto2">$421.33/mes</p>
                            <a href="#" class="btn waves-effect waves-light coberturaBoton">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Producto 3</h5>
                            <p class="card-text">Seguro contra incendios</p>
                            <p class="planMonto">$277.21/mes</p>
                            <a href="#" class="btn waves-effect waves-light coberturaBoton2">Comprar</a>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>

    <footer class="page-footer footerCus" style="padding-top: 0px;">
        <div class="footer-copyright">
            <div class="container">
                <div class="row" style="margin-bottom: 0px">
                    <div class="col l3 m6 s12 right-align">
                        <img class="brand-logo left logoFooterBBVAimg" src="assets/Logo_BBVA_Seguros.png">
                    </div>
                    <div class="col l9 m6 s12 left-align">
                        <p class="footerTexto">Superintendencia de Seguros de la Naci&oacute;n. www.ssn.gob.ar
                            0-800-666-8400<br>N de inscripci&oacute;n SSN: 0396. Aseguradora: BBVA Consolidar Seguros
                            S.A - CUIT 30-50006423-0 - Av. Leandro N. Alem 728/732 (C1001AAP) - C.A.B.A.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>