<div class="container-fluid">
    <div style="width: 100%;">
        <h3 style="width: 50%; margin-left: 44%;">Administración</h3>
    </div>
    <table *ngIf="usuarios !== undefined && usuarios.length > 0" class="table">
        <thead class="thead-light">
            <tr>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Usuario</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Mail</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Tipo de usuario</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Habilitado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of this.usuarios">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.mail }}</td>
                <td>{{ getRol(usuario.permiso) }}</td>
                <td>
                    <button *ngIf="usuario.habilitado" style="width: 120px;" (click)="cambiarEstadoUsuario(usuario)" type="button"
                        class="btn btn-success">Habilitado</button>
                    <button *ngIf="!usuario.habilitado" style="width: 120px;" (click)="cambiarEstadoUsuario(usuario)" type="button"
                        class="btn btn-danger">Deshabilitado</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="margin-top: 20px;" *ngIf="usuarios === undefined || usuarios.length === 0">No existen usuarios cargados.</h3>
</div>
