<section class="product spad">
  <div class="container">
      <div style="width: 100%; height: 100%;">
          <h3 style="margin-left: 43%;">Productos</h3>
          <table>
              <tr *ngFor="let producto of productos" class="row">
                  <td>{{ producto.descProducto }}</td>
                  <td>${{ prod.precio }}</td>
                  <td>${{ prod.stock }}</td>
                  <td>${{ prod.imagen }}</td>
              </tr>
          </table>
      </div>
  </div>
</section>
