<div class="container-fluid">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-10">
            <h3 style="margin-left: 44%;">Productos</h3>
        </div>
    </div>
    <table *ngIf="productos !== undefined && productos.length > 0 " class="table">
        <thead class="thead-light">
            <tr>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Imagen</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Producto</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Stock</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col">Precio</th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col"></th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col"></th>
                <th style="background-color:  #F3F6FA !important; border-color:  #F3F6FA !important;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prodCantidad of prodsCantidad">
                <td>{{ prodCantidad.producto.imagen }}</td>
                <td>{{ prodCantidad.producto.descProducto }}</td>
                <td>{{ prodCantidad.producto.stock }}</td>
                <td>$ {{ prodCantidad.producto.precio }}</td>
                <td>
                    <button [disabled]="disableAgregar(prodCantidad)" style="width: 120px;" 
                        (click)="agregarProducto(prodCantidad)"
                        type="button" class="btn btn-success">Agregar</button>
                </td>
                <td>
                    <input type="text" disabled = true [value]="prodCantidad.cantidadAgregada">
                </td>
                <td>
                    <button [disabled]="disableEliminar(prodCantidad)" style="width: 120px;" (click)="quitarProducto(prodCantidad)"
                        type="button" class="btn btn-danger">Quitar</button>
                </td>
            </tr>
            <tr style="background-color: #F3F6FA;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total: {{ total | number: '.2' }}</td>
                <td>
                    <button style="width: 150px;" [disabled]="disableFinalizarCompra()"
                        (click)="realizarCompra()"
                        type="button" class="btn btn-success">Finalizar Compra</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="margin-top: 20px;" *ngIf="productos === undefined || productos.length === 0">Sin productos en stock.</h3>
</div>