<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg" style="background-image: url(&quot;img/breadcrumb.jpg&quot;);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Tienda - Superbuy</h2>
                  <div class="breadcrumb__option">
                      <a routerLink="/principal">Inicio</a>
                      <span>Tienda</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>