<header class="navCus">
  <div class="navbar-fixed divNavCus">
      <img class="brand-logo left logoBBVAimg" src="assets/logo-bbva-seguros-blanco.png">
  </div>
</header>

<main>
  <div class="row custom-row">
    <div class="col-md custom-container jumbotron" style="margin-bottom: 0px; padding-top: 32px;">

      <form class="form-horizontal" enctype="multipart/form-data">
        <div class="row">
          <legend class="col-md-12 coberturaTitulo">Parametr&iacute;a Micrositio</legend>
        </div>

        <div class="row">
          <label for="" class="col-md-2 coberturaTexto">Legajo - Persona</label>
          <input ngModel="searchText" (keyup)="buscarLegajosPersona($event)" placeholder="Buscar Aqui..." class="search-input"/>
          <select *ngIf="searching === true" id="legajos" class="col-md-4 coberturaTexto" (change)="selectLegajo($event)">
            <option class="coberturaTexto" value="">Seleccionar Legajo</option>
            <option *ngFor="let item of legajosPersona" class="coberturaTexto" value="{{item.numLegajo}}">
              {{ item.persona }}
            </option>
          </select>
        </div>

        <br>

        <!-- Tabla productos -->
        <div class="row">
          <table class="col-md table table-striped">
            <thead>
              <tr>
                <!--<th scope="col">Orden</th>-->
                <th scope="col">Cobertura</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Productos</th>
                <th scope="col">Producto 1 | Producto 2 | Producto 3</th>
                <!--<th scope="col">Producto 1</th>
                <th scope="col">Producto 2</th>
                <th scope="col">Producto 3</th>-->
                <th scope="col">Banner</th>
                <th scope="col">Vista previa</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let parametria of parametriaLegajo.parametrias">
                <td>{{ parametria.descripcionProducto }}</td>
                <td><input type="checkbox" [checked]="parametria.habilitado" (change)="parametria.habilitado = !parametria.habilitado"
                  *ngIf="legajoSelected != ''" /></td>
                <td>
                  <button type="button" data-toggle="modal" data-target="#modalSelectProductos" 
                    (click)="mostrarProducto(parametria, parametria.productos)" [disabled]="!parametria.habilitado"
                    *ngIf="parametria.tipoCobertura == 'NBK' || parametria.tipoCobertura == 'POR' || parametria.tipoCobertura == 'TEC'">Ver</button>
                </td>
                <td>
                  <label>{{ parametria.descripcionTodos }}</label>
                </td>
                <!---<td *ngFor="let prod of parametria.productos">
                  <label>{{ prod.descripcion }} - {{ prod.sumaAsegurada }}</label>
                </td>-->
                <td>
                  <input type="file" name="{{ parametriaLegajo.numeroLegajo }}-{{ parametria.tipoCobertura }}" accept="image/*" 
                     src="{{ parametria.pathBanner }}" (change)="seleccionarArchivo($event)" [disabled]="!parametria.habilitado">
                  <input type="button" value="Subir Banner" class="btn waves-effect waves-light coberturaBoton"
                    (click)="subirBanner(parametria.tipoCobertura)" [disabled]="!parametria.habilitado">
                </td>
                <td>
                  <button type="button" (click)="visualizarCobertura('previsualizar-cobertura', parametria)"
                    class="btn waves-effect waves-light coberturaBoton" [disabled]="!(parametria.habilitado && parametria.pathBanner)">Previsualizar</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <!-- Logos checkbox-->
        <!--<div class="row">
          <div class="col-md-3">
            <label class="coberturaTexto form-check-label">Logo BBVA</label>&nbsp;
            <input type="checkbox" [checked]="parametriaLegajo.logoBBVA" (change)="parametriaLegajo.logoBBVA = !parametriaLegajo.logoBBVA"
              [disabled]="legajoSelected == ''">
          </div>
          <div class="col-md-9">
            <label class="coberturaTexto form-check-label">Logo PAS</label>&nbsp;
            <input type="checkbox" [checked]="parametriaLegajo.alianza" (change)="parametriaLegajo.alianza = !parametriaLegajo.alianza"
              [disabled]="legajoSelected == ''">
            <input id="pathAlianza" class="col-md-6" type="file" name="pic" accept="image/*" src="{{ parametriaLegajo.pathAlianza }}" 
              [disabled]="legajoSelected == ''">
          </div>
        </div>-->
        <div class="row">
          <div class="col-md-12">

            <!-- Logos radiobutton-->
            <!-- Logo BBVA -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="logoBBVA" name="groupOfDefaultRadios" [checked]="parametriaLegajo.logoBBVA" 
                [disabled]="legajoSelected == ''" (change)="seleccionarLogoBBVA()">
              <label class="custom-control-label" for="logoBBVA">BBVA Seguros</label>
            </div>

            <!-- Logo Broker -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="logoBBVABroker" name="groupOfDefaultRadios" [checked]="parametriaLegajo.logoBBVABroker" 
                [disabled]="legajoSelected == ''" (change)="seleccionarLogoBBVABroker()">
              <label class="custom-control-label" for="logoBBVABroker">BBVA Broker</label>
            </div>

            <!-- Logo Ninguno -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="logoNinguno" name="groupOfDefaultRadios" [checked]="parametriaLegajo.logoNinguno" 
                [disabled]="legajoSelected == ''" (change)="seleccionarLogoNinguno()">
              <label class="custom-control-label" for="logoNinguno">Ninguno</label>
            </div>

            <!-- Logo Otro -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="logoOtro" name="groupOfDefaultRadios" [checked]="parametriaLegajo.logoOtro" 
                [disabled]="legajoSelected == ''" (change)="seleccionarLogoOtro()">
              <label class="custom-control-label" for="logoOtro">Otro</label>&nbsp;
              
              <input id="pathLogoOtro" type="file" name="pic" accept="image/*" src="{{ parametriaLegajo.pathLogoOtro }}" 
                [disabled]="!(legajoSelected != '' && parametriaLegajo.logoOtro)" (change)="seleccionarImagenLogoOtro($event)">
              <input type="button" value="Subir Logo" class="btn waves-effect waves-light coberturaBoton"
                (click)="subirLogoOtro()" [disabled]="!(legajoSelected != '' && parametriaLegajo.logoOtro)">
            </div>

            <!-- Logo PAS -->
            <div class="custom-control custom-control-inline">
              <label class="coberturaTexto form-check-label">Logo PAS</label>&nbsp;
              <input type="checkbox" [checked]="parametriaLegajo.alianza" (change)="parametriaLegajo.alianza = !parametriaLegajo.alianza"
                [disabled]="legajoSelected == ''">&nbsp;

                <input id="pathAlianza" type="file" name="pic" accept="image/*" src="{{ parametriaLegajo.pathAlianza }}" 
                [disabled]="!(legajoSelected != '' && parametriaLegajo.alianza)" (change)="seleccionarLogoPAS($event)">
                <input type="button" value="Subir Logo PAS" class="btn waves-effect waves-light coberturaBoton"
                (click)="subirLogoPAS()" [disabled]="!(legajoSelected != '' && parametriaLegajo.alianza)">
            </div>

          </div>
        </div>

        <br>

        <!-- Boton Guardar -->
        <div class="row">
          <div class="col-md-3">
            <button type="button" class="btn waves-effect waves-light coberturaBoton" *ngIf="legajoSelected != ''"
              (click)="guardarParametriaLegajo()">Guardar</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn waves-effect waves-light coberturaBoton" *ngIf="parametriaLegajo.numeroLegajo != ''" 
            (click)="visualizarParametria('previsualizar-parametria')">Previsualizar</button>
          </div>
          <div class="col-md-6">
            <input id="pathJuntos" type="file" accept="image/*" src="{{ parametriaLegajo.pathJuntos }}" 
              (change)="seleccionarArchivoLanding($event)" *ngIf="legajoSelected != ''">
            <input type="button" value="Subir Banner Landing" class="btn waves-effect waves-light coberturaBoton"
              (click)="subirBannerLanding()" *ngIf="legajoSelected != ''">
          </div>
        </div>

      </form>
    </div>
  </div>
</main>

<footer class="page-footer footerCus" style="padding-top: 0px;">
  <div class="footer-copyright">
      <div class="container">
          <div class="row" style="margin-bottom: 0px">
              <div class="col l3 m6 s12 right-align">
                  <img class="brand-logo left logoFooterBBVAimg" src="assets/Logo_BBVA_Seguros.png">
              </div>
              <div class="col l9 m6 s12 left-align">
                  <p class="footerTexto">Superintendencia de Seguros de la Naci&oacute;n. www.ssn.gob.ar
                      0-800-666-8400<br>N de inscripci&oacute;n SSN: 0396. Aseguradora: BBVA Consolidar Seguros
                      S.A - CUIT 30-50006423-0 - Av. Leandro N. Alem 728/732 (C1001AAP) - C.A.B.A.
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>


<!-- Modal Seleccion Productos-->
<div id="modalSelectProductos" class="modal fade" role="dialog" (blur)="limpiarModal()">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="limpiarModal()">&times;</button>    
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">Producto</th>
                <th scope="col">Suma asegurada</th><!--Descripci&oacute;n-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prod of productosModal">
                <td>
                  <input type="checkbox" id="{{ prod.codigoProducto }}-{{ prod.codigoProductoGaus }}" 
                    (change)="prod.seleccionado = !prod.seleccionado" [checked]="prod.seleccionado"><!--seleccionarProducto(prod);-->
                </td>
                <td>{{ prod.codigoProductoGaus }} - {{ prod.descripcion }}</td>
                <td>$ {{ prod.sumaAsegurada }}</td>
              </tr>
            </tbody>
          </table>                    
        </div>
      </div>
      <div class="modal-footer">
        <span>{{ mensajeError }}</span>
        <button type="button" class="btn waves-effect waves-light coberturaBoton" data-dismiss="modal" 
          (click)="agregarProductosSeleccionados(tipoCoberturaModal)">Agregar Productos</button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row" *ngIf="previsualizarParametria">
  <div class="col-md-3">
    <button type="submit" class="btn waves-effect waves-light coberturaBoton" (click)="cerrarPrevisualizacionParametria()">Cerrar previsualizaci&oacute;n</button>
  </div>
</div>
<!-- PREVISUALIZACION Parametria - INICIO -->
<div id="previsualizar-parametria" *ngIf="previsualizarParametria">
  <!--<div class="row">
    <div class="col-md-3">
      <button type="submit" class="btn waves-effect waves-light coberturaBoton" (click)="cerrarPrevisualizacionParametria()">Cerrar previsualizaci&oacute;n</button>
    </div>
  </div>-->

  <header class="navCus">
    <div class="navbar-fixed divNavCus">
      <!--<div class="col l3 m6 s12 right-align">-->
        <!-- Logo Izquierdo -->
        <img class="brand-logo left logoBBVAimg" style="float: left !important; "
          *ngIf="parametriaLegajo.logoBBVA" src="assets/logo-bbva-seguros-blanco.png">

        <img class="brand-logo left logoBBVAimg" style="float: left !important; margin-top: 0px; margin-left: 20px; width: 6%;"
          *ngIf="parametriaLegajo.logoBBVABroker" src="assets/logo_bbva_broker_default.png">

        <img class="brand-logo left logoBBVAimg" style="float: left !important;"
          src="data:image/jpeg;base64,{{ parametriaLegajoLogoIzquierdo }}"
          *ngIf="parametriaLegajo.logoOtro">

        <!-- Logo Derecho -->
        <!--<img class="brand-logo right logoNicetoimg" style="float: right !important;"
          *ngIf="parametriaLegajo.alianza" src="assets/parametria/imagenes/{{ parametriaLegajo.pathAlianza }}">-->
        <img class="brand-logo right logoNicetoimg" style="float: right !important;"
          *ngIf="parametriaLegajo.alianza" src="data:image/jpeg;base64,{{ parametriaLegajoLogoDerecho }}">
      <!--</div>-->
    </div>
  </header>

  <main>
    <!--<img id="bannerParametria" class="imgBanner" src="assets/parametria/imagenes/banner_1960x350_3.jpg">-->
    <a href="{{ parametriaLegajo.urlJuntos }}" target="_blank">
      <img id="parametriaBannerLanding" class="imgBanner" style="margin-top: -14px;" src="data:image/jpeg;base64,{{ parametriaLegajoBannerLanding }}">
    </a>
    <div class="row">
        <div class="col-sm custom-container jumbotron" style="margin-bottom: 0px; padding-top: 20px;">
            <div class="row">
                <h1 class="coberturaTitulo">&nbsp;&nbsp;&nbsp;Seguros disponibles</h1>
            </div>
            <br>

            <div class="row">
                <!-- Recorre las parametrias que esten habilitadas -->
                <div class="col-sm-4" *ngFor="let parametria of parametriasHabilitadas(parametriaLegajo.parametrias)">
                    <div class="card text-white mb-3" ><!--style="background-color: #FFF;" bg-info-->
                        <div class="card-body"><!--*ngIf="parametria.habilitado"-->
                            <h5 class="card-title-parametria">{{ parametria.descripcionProducto }}</h5>
                            <!--<img id="bannerParametria" class="imgBanner" src="assets/parametria/imagenes/{{ parametria.pathBanner }}">-->
                            <a href="{{ parametria.url }}" target="_blank">
                              <!--<img id="bannerParametria-{{ parametria.tipoCobertura }}" class="imgBanner" src="data:image/jpeg;base64,{{ parametria.imagenBanner }}">-->
                              <img class="imgBanner" src="data:image/jpeg;base64,{{ parametriasBanner[parametria.tipoCobertura] }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>

  <footer class="page-footer footerCus" style="padding-top: 0px;">
      <div class="footer-copyright">
          <div class="container">
              <div class="row" style="margin-bottom: 0px">
                  <div class="col l3 m6 s12 right-align">
                      <!--<img class="brand-logo left logoFooterBBVAimg" src="assets/Logo_BBVA_Seguros.png">-->

                      <img class="brand-logo left logoBBVAimg" style="float: left !important;"
                        *ngIf="parametriaLegajo.logoBBVA" src="assets/Logo_BBVA_Seguros.png">

                      <img class="brand-logo left logoBBVAimg" style="float: left !important; margin-top: 0px; width: 20%;"
                        *ngIf="parametriaLegajo.logoBBVABroker" src="assets/logo_bbva_broker_default.png">

                      <img class="brand-logo left logoBBVAimg" style="float: left !important;"
                        src="data:image/jpeg;base64,{{ parametriaLegajoLogoIzquierdo }}"
                        *ngIf="parametriaLegajo.logoOtro">
                  </div>
                  <div class="col l9 m6 s12 left-align">
                    <p class="footerTexto" *ngIf="!parametriaLegajo.logoBBVABroker">Superintendencia de Seguros de la Naci&oacute;n. www.ssn.gob.ar
                        0-800-666-8400<br>N de inscripci&oacute;n SSN: 0396. Aseguradora: BBVA Consolidar Seguros
                        S.A - CUIT 30-50006423-0 - Av. Leandro N. Alem 728/732 (C1001AAP) - C.A.B.A.
                    </p>
                    <p class="footerTexto" *ngIf="parametriaLegajo.logoBBVABroker">Superintendencia de Seguros de la Naci&oacute;n. www.ssn.gob.ar
                      0-800-666-8400<br>N de inscripci&oacute;n SSN: 1376. Aseguradora: BBVA Broker Argentina S.A.
                      S.A - CUIT 30-71542368-1 - Av. Leandro N. Alem 728 (C1001AAP) - C.A.B.A.
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
<!-- PREVISUALIZACION Parametria - FIN -->




<!-- PREVISUALIZACION Cobertura - INICIO -->
<div id="previsualizar-cobertura" *ngIf="previsualizarCobertura">
  <div class="row">
    <div class="col-md-3">
      <button type="submit" class="btn waves-effect waves-light coberturaBoton" (click)="cerrarPrevisualizacionCobertura()">Cerrar previsualizaci&oacute;n</button>
    </div>
  </div>

  <header class="navCus">
      <div class="navbar-fixed divNavCus">
          <img class="brand-logo left logoBBVAimg" *ngIf="parametriaLegajo.logoBBVA" src="assets/Logo_BBVA_Seguros.png" style="float: left !important;">
          <img class="brand-logo right logoNicetoimg" *ngIf="parametriaLegajo.alianza" src="assets/parametria/imagenes/{{ parametriaLegajo.pathAlianza }}" style="float: right !important;">
      </div>
  </header>

  <img id="bannerProducto" class="imgBanner" src="data:image/jpeg;base64,{{ previsualizarImagen }}">

  <main>
    <div class="row">
        <div class="col-sm custom-container jumbotron" style="margin-bottom: 0px; padding-top: 32px;">
            <div class="row">
                <h1 class="coberturaTitulo" *ngIf="tieneProductosSeleccionados(parametriaPreVisualizada.productos)">&nbsp;&nbsp;&nbsp;Productos disponibles</h1>
            </div>
            <br>

            <div class="row">
                <!-- Recorre los productos de la parametria -->
                <div class="col-sm-4" *ngFor="let producto of productosSeleccionados(parametriaPreVisualizada.productos)">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.descripcion}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>

  <footer class="page-footer footerCus" style="padding-top: 0px;">
      <div class="footer-copyright">
          <div class="container">
              <div class="row" style="margin-bottom: 0px">
                  <div class="col l3 m6 s12 right-align">
                      <img class="brand-logo left logoFooterBBVAimg" src="assets/Logo_BBVA_Seguros.png">
                  </div>
                  <div class="col l9 m6 s12 left-align">
                      <p class="footerTexto">Superintendencia de Seguros de la Naci&oacute;n. www.ssn.gob.ar
                          0-800-666-8400<br>N de inscripci&oacute;n SSN: 0396. Aseguradora: BBVA Consolidar Seguros
                          S.A - CUIT 30-50006423-0 - Av. Leandro N. Alem 728/732 (C1001AAP) - C.A.B.A.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
<!-- PREVISUALIZACION Cobertura - FIN -->