/*body {
    display: flex;
      min-height: 100vh;
      flex-direction: column;
}

main {
      flex: 1 0 auto;
}*/

.logoBBVAimg{
  margin-top: -11px;
  width: 150px;
}

.logoFooterBBVAimg{
  width: 164px; 
}

.logoNicetoimg{
  margin-top: 6px;
  width: 180px;
}

.navCus{
  background-color: #072146;
  height: 60px;
}

.divNavCus{
  height: 60px;
}

.brand-logo {
  color:#fff;
  display:inline-block;
  font-size:2.1rem;
  padding:0;
}

.footerCus{
  background-color: #072146;
  padding-top: 0px;
}

.imgBanner { 
  max-width: 100% !important; 
  width: 100% !important; 
  height: auto !important; 
}  

.card-title-parametria {
  margin-bottom: .75rem;
  color: #17a2b8!important;
}

.coberturaTitulo{
  font-size: 22px;
  color:#009ed5;
  font-weight: bold;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.coberturaTexto{
  font-size: 20px;
  color:#005aa1;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.coberturaMonto{
  font-size: 18px;
  color:#009ed5;
  font-weight: bold;
}

.coberturaBoton{
  background-color: #2ccbce !important;  
  color:white;
}

.footerTexto{
  color:white;
  margin: 0;
  font-size: 10px;
  padding-top: 15px;
}

.planMonto{
  color:#005aa1;
  font-weight: bold;
  font-size: 22px;
  padding: inherit!important;
}

.planMes{
  color:#005aa1;
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px;
  padding: inherit!important;
}

.planPrecioTexto{
  color:#005aa1;
  font-size: 10px;
}

.aclaraciones{
    color:#005aa1;
    font-size: 11px;
}

.tablaProductos{
  vertical-align: baseline;
}

@media screen and (max-width: 600px) {
    .planColumna{
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 600px) {
  .imgBanner {
    content:url("//bbvdfs/dfs/SEGUROS/Aplicaciones/Desarrollo/OBJETO/Corporativo/Desarrollo/BBVA/gastongz/workspace_desa/BBVACOMMON_MAIN/html/images/micrositios/niceto/imagen_cel.png");
  }
}